<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/logInSignUp.css">
    <link rel="stylesheet" href="/Styles/StudentDetais.css">
    <title>LogIn</title>
</head>
<body>
    <div class="box1">
        <img src="/images/collegeIllustrations/college2.avif" alt="" />

        <div class="singup-page">
            <div class="wrapper">
        <h1>Login</h1>
        <form action="/login" method="post">
              <label for="branch">
                    Branch:
                    <select class="barnch" name="branch">
                        <option value="Information technology">Information technology</option>
                        <option value="Computer Science and Engineering">Computer Science and Engineering</option>
                        <option value="Auto Mobile">Auto Mobile</option>
                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                        <option value="Electrical Engineering">Electrical Engineering</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Civil">Civil</option>
                    </select>
                </label>
                <label for="year">
                    Year
                    <select class="year" name="year">
                        <option value="1st Year">1st Year</option>
                        <option value="2nd Year">2nd Year</option>
                        <option value="3rd Year">3rd Year</option>
                    </select>
                </label>
               <label for="Category:">
                    Category :
                    <select class="category" name="category">
                        <option value="category">Category</option>
                        <option value="category">General(UR)</option>
                        <option value="category">Economically Weaker Section(EWS)</option>
                        <option value="category">Other Backward Caste(OBC)</option>
                        <option value="category">Schedule Tribes(ST)</option>
                        <option value="category">Schedule Caste(SC)</option>
                    </select>
                </label>
            <button>See</button>
    </div>
        </div>
    </div>
    </div>
</body>
</html>