<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Polytechnic Srinagar (Garhwal)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="/Styles/homePage1.css">
</head>
<body>
     <!-- Circular Button:  -->
     <div id="circle"></div>

     <!-- Main Container: -->
    <div id="main">
        <nav>
            <div id="leftSide">
                <img src="images/SrinagarImages/college_logo.webp" alt="">
                <div class="aboutCollege">
                    <h1 class="title1">Government Polytechnic Srinagar</h1>
                </div>
            </div>
            <div id="rightSide">
                <a href="/StudentDetail">
                    <h3>Registration</h3>
                </a>
                <a href="/counsellingForm">
                    <h3>Counselling</h3>
                </a>
                <a href="/SignIn" class="teacher">
                    <h3>Teachers</h3>
                </a>
            </div>
        </nav>
        <div class="CenterContainer">
                <img class='img1' src="/images/SrinagarImages/Srinagar-Garhwal2.jpg" alt="">
                <img class='img2' src="/images/SrinagarImages/gps.jpg" alt="">
                <img class='img3' src="/images/SrinagarImages/nccSrinagar1.jpg" alt="">
            <div class="CollegeInfo">
                <h1>
                    Government Polytechnic Srinagar
                </h1>
                <button >View <img src="/images/Icons/icons8-arrow-32.png" alt=""></button>
            </div>
        </div>

    </div>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="/scripts/homePage1.js"></script>
</html>