<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/homePage.css">
    <link rel="stylesheet" href="/Styles/unitily.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <!-- COLLEGE WEBSITE START KNOW! -->

    <!-- Circular Button:  -->
    <div id="circle"></div>
    <div class="firstSlide">
        <div class="frontBox">
            <div class="images"></div>
            <h2>Technical Institute</h2>
        </div>
    </div>
    <!-- Wrapper Container!  -->
    <div class="wrapper section-space">
        <!-- Header [Start]:--------------------------------------- -->
        <header id="header" class="header">
            <div class="header-top">
                <div class="gps-section">
                    <img src="/images/SrinagerImages/college_logo.webp" alt="">
                    <div class="wrapperChange">
                        <div class="elem">
                            <div class="gps-name">Government Polytechnic Srinagar(Garhwal)</div>
                        </div>
                        <div class="elem">
                            <div class="gps-name2 ">As Institution of Eminence </div>
                        </div>
                    </div>
                </div>
                <div class="gps-location">
                    <div class="loc-name">
                        <h5>Government Polytechnic Srinagar (Garhwal)</h5>
                        <h6>Srinagar(Garhwal),Uttrakhand</h6>
                    </div>
                    <div class="loc-icon">
                        <i class="ri-map-pin-line"></i>
                    </div>
                </div>
            </div>

        <!-- Navbar [Start]------------ -->
            <nav class="navbar">
                <ul class="nav-items">
                    <li class="nav-links">
                        <a href="#">Home</a>
                        <i class="ri-home-heart-line"></i>
                    </li>
                    <li class="nav-links about"><a href="#">About</a><i class="ri-profile-line"></i></li>
                    <li class="nav-links approval"><a href="#">Approval</a><i class="ri-fingerprint-line"></i></li>
                    <li class="nav-links course "><a href="#">Course</a><i class="ri-school-line"></i>
                        <div class="dropdown">
                            <ul class="nav-items">
                                <li class="nav-links"><a href="/ProfileSearch">Information tech</a></li>
                                <li class="nav-links"><a href="/ProfileSearch">CSE</a></li>
                                <li class="nav-links"><a href="/ProfileSearch">Civil</a></li>
                                <li class="nav-links"><a href="/ProfileSearch">Mechanical</a></li>
                                <li class="nav-links"><a href="/ProfileSearch">Electrical</a></li>
                                <li class="nav-links"><a href="/ProfileSearch">Electronics</a></li>
                                <li class="nav-links"><a href="/ProfileSearch">Auto Mobile</a></li>
                            </ul>
                            </div>
                    </li>
                    <li class="nav-links student"><a href="#">Student</a><i class="ri-graduation-cap-line"></i>
                    <div class="dropdown">
                    <ul class="nav-items">
                        <li class="nav-links"><a href="/StudentDetail">Student Registration</a></li>
                        <li class="nav-links"><a href="/SignIn">SignIn & SignUp</a></li>
                        <li class="nav-links"><a href="#">Branch Details</a></li>
                    </ul>
                    </div>
                    </li>
                    <li class="nav-links"><a href="#">PhotoGallery</a><i class="ri-folder-image-line"></i></li>
                    <li class="nav-links"><a href="#">Result</a><i class="ri-trophy-line"></i></li>
                    <li class="nav-links cdtp"><a href="#">CDTP</a><i class="ri-article-line"></i></li>
                    <li class="nav-links"><a href="#">Feedback</a><i class="ri-mail-settings-line"></i></li>
                    <li class="nav-links"><i class="fa-regular fa-moon"></i></li>
                </ul>
                
                <i class="ri-menu-2-line " id="menu"></i>
                <i class="fa-solid fa-x " id="x-btn"></i>
            </nav>

        </header>
        <!-- Header [End]-------------------------  ---------------------------->

        <!-- Carousel [Start]:----------------------------------------------- -->

        <div class="carouselContainer">
            <div class="carousel">
                <div class="carouselText">
                    <h2>Srinagar Garhwal</h2>
                    <p>Beauty of Uttrakhand </p>
                </div>
                <img src="/images/SrinagerImages/Srinagar-Garhwal2.jpg" alt="">
            </div>
            <button  class="prev cBtn" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next cBtn" onclick="moveSlide(1)">&#10095;</button>
        </div>

        <!-- Carousel [End]:----------------------------------------------- -->

        <!-- Branch  Container[Start] ---------------------------------------->
        <div class="branches">
            <h1>Branch</h1>
            <div class="branchContainer">
                <div class="aboutBranch">
                    <img src="/images/Branch/CSE.jpg" alt="">
                    <h5>CSE</h5>
                </div>
                <div class="aboutBranch">
                    <img src="/images/Branch/ITicon.png" alt="">
                    <h5>IT</h5>
                </div>
                <div class="aboutBranch">
                    <img src="/images/Branch/MachanicalIcon.png" alt="">
                    <h5>Mechanical </h5>
                </div>
                <div class="aboutBranch">
                    <img src="/images/Branch/AutoIcon.jpg" alt="">
                    <h5>Auto Mobile</h5>
                </div>
                <div class="aboutBranch">
                    <img src="/images/Branch/CivilEngineering.jpg" alt="">
                    <h5>Civil</h5>
                </div>
                <div class="aboutBranch">
                    <img src="/images/Branch/Electical.png" alt="">
                    <h5>Electrical</h5>
                </div>

                <div class="aboutBranch">
                    <img src="/images/Branch/Electricalicon.jpg" alt="">
                    <h5>Electronics</h5>
                </div>
                <div class="aboutBranch">
                    <img src="images/Branch/PhIcon.png" alt="">
                    <h5>Pharmacy</h5>
                </div>
            </div>
        </div>
        <!-- Branch  Container[End] ---------------------------------------->

        <!-- About College[Start]------------------------------------------ -->
        <div class="aboutCollegeContainer">
            <div class="collegeImage">
            <img src="/images/SrinagerImages/gps.jpg" alt="">
            <h2>Technical Institute</h2>
            </div>
            <div class="aboutCollege">
                <h2 class="abouth1">Welcome to Government Polytechnic, Srinagar (Garhwal).</h2>
                <p class="aboutC1">Government Polytechnic Srinagar Garhwal is established in 1968 and affiliated to Uttrakhand Board of Technical Education, Roorkee under the Directorate of Uttrakhand Technical Education Srinagar Garhwal. It is an Institute with total commitment to quality and excellence in academic pursuits, is among one of leading institute in north India. Srinagar is located at 30.22°N 78.78°E at the left bank of river Alaknanda. It has an average elevation of 560 meters (1,837 feet). It is the widest valley in the Garhwal hills. </p>
                <h5 class="about1h5">Vision of Institute :</h5>
                <p class="aboutC2">To be a Leading Educational Institution, recognized for Excellence in Diploma Engineering & Diploma Pharmacy Education, producing globally competent and socially responsible professionals. </p>
                <h5 class="about2h5">Mission of Institute :</h5>
                <h6>IM1: To provide state - of- art infrastructural facilities that support achieving Academic Excellence. </h6>
                <h6>IM2: To provide a work environment that is conducive for professional growth of faculty and staff. </h6>
                <h6>IM3: To collaborate with industry for achieving excellence in Training and Placement. </h6>
            </div>
        </div>

    <!-- About College[End]------------------------------------------ -->



    <!--  Scroll [Start:]------------------------------------------------ -->

    <div class="rotatingImages">
        <div class="rotaeTitle">
            <h2>Important Links</h2>
        </div>
        <div class="rotateImages">
            <img src="/images/avodes/img1.jpg" alt="">
            <img src="/images/avodes/img2.jpg" alt="">
            <img src="/images/avodes/img3.png" alt="">
            <img src="/images/avodes/img4.png" alt="">
            <img src="/images/avodes/img8.png" alt="">
            <img src="/images/avodes/img6.png" alt="">
            <img src="/images/avodes/img7.png" alt="">
        </div>
    </div>

    <!-- Faculty Box  [Start]---------------------------------------------- -->

    <div class="faculty">
        <h2>College </h2>
        <div class="facultyCollege">
            <div class="fcContainer">
                <h2>Student</h2>
                <h3><span id="nums" data-val="1000">1000</span>+</h3>
            </div>
            <div class="fcContainer">
                <h2>Teachers </h2>
                <h3><span id="nums" data-val="100">100</span>+</h3>
            </div>
            <div class="fcContainer">
                <h2>Staff</h2>
                <h3><span id="nums" data-val="50">50</span>+</h3>
            </div>
        </div>
    </div>


    <!-- footer [Start] -->

    <footer>
        <div class="footer-top">
            <div class="footer-container">
                <div class="footer-row">
                    <div class="footer-col">
                        <div class="footer-info">
                            <h3>Government Polytechnic, Srinagar(Garhwal)</h3>
                            <div class="footer-about"></div>
                        </div>
                    </div>
                    <div class="footer-col">
                        <div class="footer-links">
                            <h3>Important Link</h3>
                            <ul class="links-list">
                                <li><a href="http://www.ubter.in" target="_blank">UBTE, Roorkee</a></li>
                                <li><a href="http://www.ukdte.in" target="_blank">Directorate, Srinagar</a></li>
                                <li><a href="http://www.aicte-india.org" target="_blank">AICTE</a></li>
                                <li><a href="http://www.pci.nic.in" target="_blank">PCI</a></li>
                                <li><a href="http://irdtuttarakhand.org.in" target="_blank">IRDT</a></li>
                                <li><a href="EOA/EOA_2022-23.pdf" target="_blank">EOA 2022-23</a></li>
                                <li><a href="EOA/EOA_2021-22.pdf" target="_blank">EOA 2021-22</a></li>
                                <li><a href="EOA/EOA_2020-21.pdf" target="_blank">EOA 2020-21</a></li>
                                <li><a href="EOA/EOA_2019-20.pdf" target="_blank">EOA 2019-20</a></li>
                                <li><a href="#">EOA 2018-19</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col">
                        <div class="footer-contact">
                            <h3>Get in Touch</h3>
                            <ul class="contact-info">
                                <li><i class="fa fa-phone"></i><a href="tel:">01346-297256</a></li>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:principal_gps@rediffmail.com">principal_gps@rediffmail.com</a></li>
                                <li><i class="fa fa-map"></i>Government Polytechnic, Srinagar(Garhwal) Pauri Garhwal, Uttarakhand-246174</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="/scripts/gsapAnimation.js"></script>
<script src="/scripts/homePage.js">
</script>
</html>