<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/StudentDetais.css">
    <title>Registration Form</title>
</head>

<body>
    <div class="main">
        <div class="register">
            <h2>Registration Form</h2>
            <form id="register" action="/StudentDetails" method="post">
                <label>Student Name :</label>   
                <input type="text" id="name" placeholder="Applicant Name" name="studentName">
          
                <label>Father Name :</label>
                <input type="text" id="name" placeholder="Father Name" name="fatherName">

                <label>Mother Name :</label>
                <input type="text" id="name" placeholder="Mother Name" name="motherName">
                <label for="dob" >
                    Date of Birth:
                    <input type="date" id="DOB" name="dob">
                </label>
                </label><br>
                <label for="branch">
                    Branch:
                    <select class="barnch" name="branch">
                        <option value="Information technology">Information technology</option>
                        <option value="Computer Science and Engineering">Computer Science and Engineering</option>
                        <option value="Auto Mobile">Auto Mobile</option>
                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                        <option value="Electrical Engineering">Electrical Engineering</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Civil">Civil</option>
                    </select>
                </label>
                <label for="year">
                    Year
                    <select class="year" name="year">
                        <option value="1st Year">1st Year</option>
                        <option value="2nd Year">2nd Year</option>
                        <option value="3rd Year">3rd Year</option>
                    </select>
                </label>
                <label for="gender">
                    Gender:
                    <select class="gender" name="gender">
                        <option value="Gender">Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Transgender">Transgender</option>
                    </select>
                </label><br>
                <label for="Category:">
                    Category :
                    <select class="category" name="category">
                        <option value="category">Category</option>
                        <option value="category">General(UR)</option>
                        <option value="category">Economically Weaker Section(EWS)</option>
                        <option value="category">Other Backward Caste(OBC)</option>
                        <option value="category">Schedule Tribes(ST)</option>
                        <option value="category">Schedule Caste(SC)</option>
                    </select>
                </label>
                <label for="phone_number">
                    Mobile Number:
                    <input type="text" id="phone_number" placeholder="Mobile Number" name="mobileNumber">
                </label>
                <label for="adhaar_no">
                    Aadhar Number:
                    <input type="text" placeholder="Aadhar Number:" name="adharNumber">
                </label>

            <label for="emailaddress">
                Email Address:  
                <input type="text" class="emailaddress" placeholder="Enter a valid Email ID " name="email">
            </label>
            <div class="container">
                <input type="submit" value="submit" id="btn-submit" >
            </div>
            </form>

        </div>


    </div>
</body>

</html>