<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/StudentDetais.css">
    <title>Registration Form</title>
</head>

<body>
    <div class="main">
        <div class="register">
            <h2>Registration Form</h2>
            <form id="register" method="post">
                <label>Student Name :</label>   
                <input type="text" id="name" placeholder="Applicant Name">
          
                <label>Father Name :</label>
                <input type="text" id="name" placeholder="Father Name">

                <label>Mother Name :</label>
                <input type="text" id="name" placeholder="Mother Name">
                <label for="dob">
                    Date of Birth:
                    <input type="date" id="DOB">
                </label>
                    <p class="sms"></p>
                </label><br>
                <label for="branch">
                    Branch:
                    <select class="barnch">
                        <option value="Information technology">Information technology</option>
                        <option value="Computer Science and Engineering">Computer Science and Engineering</option>
                        <option value="Auto Mobile">Auto Mobile</option>
                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                        <option value="Electrical Engineering">Electrical Engineering</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Civil">Civil</option>
                    </select>
                </label>
                <label for="year">
                    Year
                    <select class="year">
                        <option value="1st Year">1st Year</option>
                        <option value="2nd Year">2nd Year</option>
                        <option value="3rd Year">3rd Year</option>
                    </select>
                </label>
                <label for="gender">
                    Gender:
                    <select class="gender">
                        <option value="Gender">Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Transgender">Transgender</option>
                    </select>
                </label><br>
                <label for="Category:">
                    Category :
                    <select class="category">
                        <option value="category">Category</option>
                        <option value="category">General(UR)</option>
                        <option value="category">Economically Weaker Section(EWS)</option>
                        <option value="category">Other Backward Caste(OBC)</option>
                        <option value="category">Schedule Tribes(ST)</option>
                        <option value="category">Schedule Caste(SC)</option>
                    </select>
                </label>

                <label for="Sub Category:">
                    Sub Category :
                    <select class="subcategory">
                        <option value="subcategory">Sub Category</option>
                        <option value="subcategory">D.F.F</option>
                        <option value="subcategory">Miltary Person(MP)/Dependent</option>
                        <option value="subcategory">Physical handicap(PH)</option>
                        <option value="subcategory">None</option>
                    </select>
                </label>

                <label for="CerficatePass:">
                    For Claiming Reservation Facility For Cerificate Holder in NCC, NCC CERTIFICATE PASSED:
                    <select class="">
                        <option value="CerficatePass">Select One</option>
                        <option value="CerficatePass">A</option>
                        <option value="CerficatePass">B</option>
                        <option value="CerficatePass">C</option>
                        <option value="CerficatePass">None</option>
                    </select>
                </label>

                <label for="phone_number">
                    Mobile Number:
                    <input type="text" id="phone_number" placeholder="Mobile Number">
                </label>
                <label for="adhaar_no">
                    Aadhar Number:
                    <input type="text" placeholder="Aadhar Number:">
                </label>

            </form>

            <h2>Address Details</h2>

            <label for="address">
                <form action="address">
                    <input type="text" class="address" placeholder="Enter the Permanent Address">
                </form>
            </label>

            <label for="state">
                State:
                <select name="state" id="">
                    <option value="state">Select State</option>
                    <option value="state">Andhra Pradesh</option>
                    <option value="state">Arunachal Pradesh </option>
                    <option value="state">Assam</option>
                    <option value="state">Bihar</option>
                    <option value="state">Assam</option>
                    <option value="state">Chhattisgarh</option>
                    <option value="state">Goa</option>
                    <option value="state">Gujarat</option>
                    <option value="state">Haryana</option>
                    <option value="state">Himachal Pradesh/option>
                    <option value="state">Jharkhand</option>
                    <option value="state">Karnataka</option>
                    <option value="state">Kerala</option>
                    <option value="state">Madhya Pradesh</option>
                    <option value="state">Maharashtra</option>
                    <option value="state">Manipur</option>
                    <option value="state">Meghalaya</option>
                    <option value="state">Mizoram</option>
                    <option value="state">Nagaland</option>
                    <option value="state">Odisha</option>
                    <option value="state">Punjab</option>
                    <option value="state">Sikkim</option>
                    <option value="state">Rajasthan</option>
                    <option value="state">Tamil Nadu</option>
                    <option value="state">Tripura</option>
                    <option value="state">Uttarakhand</option>
                    <option value="state">Uttar Pradesh</option>
                    <option value="state">West Bengal</option>
                    <option value="state">Other</option>
                </select>
            </label>

            <label for="address">
                District:
                    <select class="qualification_ex_center">
                        <option value="qualification_ex_center">-Select Center-</option>
                        <option value="qualification_ex_center">Haridear</option>
                        <option value="qualification_ex_center">Dehradun</option>
                        <option value="qualification_ex_center">New Tehri</option>
                        <option value="qualification_ex_center">Uttarkashi</option>
                        <option value="qualification_ex_center">Srinagar Garhwal</option>
                        <option value="qualification_ex_center">Chamoli</option>
                        <option value="qualification_ex_center">Rudraprayag</option>
                        <option value="qualification_ex_center">U.S. nagar</option>
                        <option value="qualification_ex_center">Naintal</option>
                        <option value="qualification_ex_center">Almora</option>
                        <option value="qualification_ex_center">Pithorgrah</option>
                        <option value="qualification_ex_center">Bageshwar</option>
                        <option value="qualification_ex_center">Camphawat</option>
            </label>

            <label for="address">
                Pin Code:
                <input type="text" class="address" placeholder="Enter Pin Code" />
            </label>
            <label for="emailaddress">
                Email Address:  
                <input type="text" class="emailaddress" placeholder="Enter a valid Email ID ">
            </label>
        </div>
        <div class="container">
            <input type="submit" value="submit" id="btn-submit" >
        </div>


    </div>
</body>

</html>